@import './mixins.scss';

main.contactPage{
    button{
        margin-top: 10px;
        padding: 5px 15px;
        font-size: 125%;
        font-weight: 100;
        color: white;
        background-color: rgba(0, 0, 0, 0.20);
        border: 0px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    button:hover{
        background-color: rgba(15, 15, 15, 0.17);
    }
    form{
        @include flex-box(column, center, center);
        flex-wrap: wrap;
        h1{
            margin: 0px;
            margin-bottom: 10px;
            font-weight: 400;
        }
        input, label, textarea, button{
            color: white;
            background-color: rgba(0, 0, 0, 0.20);
            border: 0px;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active{
            transition: background-color 9999999s;
            -webkit-text-fill-color: #fff !important;
        }
        input, label, textarea, button:active{
            outline: none;
        }
        button:focus{
            outline: none;
        }
        input, label, textarea{
            margin: 3px;
            padding: 3px;
        }
        input, label{
            line-height: 20px;              
        }
        input, textarea{
            width: 300px;
        }
        textarea{
            resize: none;
            min-height: 100px;
        }
        button{
            margin-top: 10px;
        }
    }
}