@import './mixins.scss';

.contact{
    @include flex-box(column, center, center);
    ::-webkit-scrollbar {
        width: 0; 
        background: transparent; 
    }
    &__status-text{
        font-weight: 200;
        font-size: 175%;
    }
    &__button{
        margin-top: 10px;
        padding: 2px 15px;
        font-size: 145%;
        font-weight: 100;
        color: white;
        background-color: rgba(0, 0, 0, 0.20);
        border: 0px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    &__status-button:hover{
        background-color: rgba(15, 15, 15, 0.17);
    }
    &__form{
        @include flex-box(column, center, center);
        flex-wrap: wrap;
    }
    &__header{
        margin: 0px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 250%;
    }
    &__form-element{
        color: white;
        background-color: rgba(0, 0, 0, 0.20);
        border: 0px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 100%;
    }
    &__input:-webkit-autofill,
    &__input:-webkit-autofill:hover, 
    &__input:-webkit-autofill:focus, 
    &__input:-webkit-autofill:active{
        transition: background-color 9999999s;
        -webkit-text-fill-color: #fff !important;
    }
    &__form-element:active{
        outline: none;
    }
    &__form-element:focus{
        outline: none;
    }
    &__form-element--input{
        line-height: 20px;              
    }
    &__form-element--textarea{
        resize: none;
        min-height: 100px;
    }
    &__form-element--button{
        margin-top: 10px;
        font-size: 145%;
    }
    &__form-element--input, &__form-element--textarea{
        margin: 3px;
        padding: 3px;
        width: 400px;
    }
}

// MEDIA QUERIES
.contact{
    @media screen{
        @media (max-height: 430px) and (orientation: landscape){
            &__form{
                @include flex-box(row, center, center);
                flex-direction: row !important;
                width: 100% !important;
            }
            &__header{
                width: 90%;
                text-align: center;
                font-size: 180% !important;
                margin-bottom: 4px;
            }
            &__form-element--input{
                width: 25% !important;
                margin: 2px (1%/3) !important;
            }
            &__form-element--textarea{
                width: 78% !important;
            }
            &__form-element--button{
                margin-left: 500px;
                margin-right: 500px;
                margin-top: 4px !important;
                font-size: 115% !important;
            }
        }
        @media (max-height: 330px) and (orientation: landscape){
            &__header{
                font-size: 180% !important;
            }
            &__form-element--textarea{
                min-height: 50px !important;
            }
            &__form-element--button{
                font-size: 115% !important;
            }
        }
        @media (max-width: 500px) and (orientation: portrait){
            &__form{
                width: 390px;
            }
            &__form-element--input, &__form-element--textarea{
                max-width: 90%;
                margin: 3px 0px;
            }
        }
        @media (max-width: 400px) and (orientation: portrait){
            &__form{
                width: 290px;
            }
            &__header{
                font-size: 160% !important;
            }
            &__form-element--button{
                font-size: 130% !important;
            }
            &__form-element--input, &__form-element--textarea{
                max-width: 90%;
                margin: 3px 0px;
                font-size: 90% !important;
            }
        }
        @media (max-width: 300px) and (orientation: portrait){
            &__form{
                width: 190px;
            }
            &__header{
                font-size: 140% !important;
            }
            &__form-element--button{
                font-size: 115% !important;
            }
            &__form-element--input, &__form-element--textarea{
                max-width: 90%;
                margin: 3px 0px;
                font-size: 80% !important;
            }
        }
    }
}

