@import './mixins.scss';

main.contactPage{
    ::-webkit-scrollbar {
        width: 0; 
        background: transparent; 
    }
    h2{
        font-weight: 200;
        font-size: 175%;
    }
    button{
        margin-top: 10px;
        padding: 2px 15px;
        font-size: 145%;
        font-weight: 100;
        color: white;
        background-color: rgba(0, 0, 0, 0.20);
        border: 0px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    button:hover{
        background-color: rgba(15, 15, 15, 0.17);
    }
    form{
        @include flex-box(column, center, center);
        flex-wrap: wrap;
        h1{
            margin: 0px;
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 250%;
        }
        input, textarea, button{
            color: white;
            background-color: rgba(0, 0, 0, 0.20);
            border: 0px;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 100%;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active{
            transition: background-color 9999999s;
            -webkit-text-fill-color: #fff !important;
        }
        input, textarea, button:active{
            outline: none;
        }
        button:focus{
            outline: none;
        }
        input, textarea{
            margin: 3px;
            padding: 3px;
        }
        input{
            line-height: 20px;              
        }
        input, textarea{
            width: 400px;
        }
        textarea{
            resize: none;
            min-height: 100px;
        }
        button{
            margin-top: 10px;
            font-size: 145%;
        }
    }
}

@media screen{
    @media (max-height: 430px) and (orientation: landscape){
        form{
            @include flex-box(row, center, center);
            flex-direction: row !important;
            width: 100% !important;
            h1{
                width: 90%;
                text-align: center;
                font-size: 180% !important;
                margin-bottom: 4px;
            }
            input{
                width: 25% !important;
                margin: 2px (1%/3) !important;
            }
            textarea{
                width: 78% !important;
            }
            button{
                margin-left: 500px;
                margin-right: 500px;
                margin-top: 4px !important;
                font-size: 115% !important;
            }
        }
    }
    @media (max-height: 330px) and (orientation: landscape){
        form{
            h1{
                font-size: 180% !important;
            }
            textarea{
                min-height: 50px !important;
            }
            button{
                font-size: 115% !important;
            }
        }
    }
    @media (orientation: portrait) and (max-width: 500px){
        form{
            width: 390px;
            box-sizing: border-box;
            input, textarea{
                max-width: 90%;
                margin: 3px 0px;

            }
        }
    }
    @media (orientation: portrait) and (max-width: 400px){
        form{
            h3{
                font-size: 160% !important;
            }
            button{
                font-size: 130% !important;
            }
            width: 290px;
            box-sizing: border-box;
            input, textarea{
                max-width: 90%;
                margin: 3px 0px;
                font-size: 90% !important;
            }
        }
    }
    @media (orientation: portrait) and (max-width: 300px){
        form{
            h3{
                font-size: 140% !important;
            }
            button{
                font-size: 115% !important;
            }
            width: 190px;
            box-sizing: border-box;
            input, textarea{
                max-width: 90%;
                margin: 3px 0px;
                font-size: 80% !important;
            }
        }
    }
}
