@import './footer/animations-wrapper.scss';
@import './footer/external-links.scss';
@import './footer/lang-images.scss';


.footer{
    @include flex-box(row, flex-end, center);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: $footerHeight;
    background-color: $footerBgColor;
    z-index: 3;
}