.home{
    @include flex-box(column, center, center);
    &__header{
        font-weight: 100;
        padding: 0px 5px;
    }
    &__header--first{
        font-size: 450%;
        text-align: center;
        margin-bottom: 30px;
    }
    &__header--second{
        font-size: 390%;
        text-align: center;
    }
    &__header--mobile{
        color: rgba(255, 255, 255, 0.25);
    }
}

// MEDIA QUERIES 
.home{  
    @media screen{
        &__header--first{
            @media (orientation: portrait){
                @media (max-width: 800px){
                        font-size: 250%;
                        margin-bottom: 15px;
                }
                @media (max-width: 600px){
                        font-size: 200%;
                }
            }
            @media (orientation: landscape){
                @media (max-height: 800px){
                    font-size: 250%;
                    margin-bottom: 15px;
                }
                @media (max-height: 500px){
                    font-size: 230%;
                }
                @media (max-height: 300px){
                    font-size: 200%;
                }
            }
        }
        &__header--second{
            @media (orientation: portrait){
                @media (max-width: 800px){
                        font-size: 200%;
                        margin-bottom: 10px;
                }
                @media (max-width: 600px){
                        font-size: 160%;
                }
            }
            @media (orientation: landscape){
                @media (max-height: 800px){
                    font-size: 200%;
                    margin-bottom: 10px;
                }
                @media (max-height: 500px){
                    font-size: 190%;
                }
                @media (max-height: 300px){
                    font-size: 160%;
                }
            }
        }
    }
}

