@import './mixins.scss';

main{
    z-index: 1;
    color: white;
    height: 100%;
    width: 100%;
}
main.mainPage{
    @include flex-box(column, center, center);
    h1, h2{
        font-weight: 100;
    }
    h1{
        font-size: 450%;
    }
    h2{
        font-size: 390%;
    }
}
main.skillsPage{
    @include flex-box(row, center, flex-start);
    flex-wrap: wrap;
    box-sizing: border-box;
}
main.projectsPage{
    @include flex-box(column, flex-start, center);
}
main.contactPage{
    @include flex-box(column, center, center);
}
