@import './mixins.scss';

$navBgColor: rgba(0, 0, 0, 0.14);
$navHoverBgColor: rgba(0, 0, 0, 0.20);

nav.navigation{
    @include flex-box(row, center, center);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: $navBgColor;
    z-index: 3;
    a{
        color: white;
        text-align: center;
        width: 25%;
        box-sizing: border-box;
        font-size: 170%;
        height: 100%;
        padding: 20px 0px;
        text-decoration: none;
    }
    a:hover{
        background-color: $navHoverBgColor;
    }
}


@media screen{
    @media (orientation: portrait){
        @media (max-width: 1000px){
            nav.navigation{
                a{
                    font-size: 135%;
                    border-left: 1px solid darken($navBgColor, 3%);
                    font-weight: 300 !important;
                }
            }
        }
        @media (max-width: 850px){
            nav.navigation{
                a{
                    font-size: 110%;
                    font-weight: 300 !important;
                }
            }
        }
        @media (max-width: 650px){
            nav.navigation{
                a{
                    font-size: 85%;
                    font-weight: 300 !important;
                }
            }
        }
        @media (max-width: 500px){
            nav.navigation{
                a{
                    font-size: 70%;
                    font-weight: 400 !important;
                }
            }
        }
        @media (max-width: 300px){
            nav.navigation{
                a{
                    font-size: 60%;
                    font-weight: 350 !important;
                }
            }
        }
    }
    @media (orientation: landscape){
        @media (max-width: 850px){
            nav.navigation{
                a{
                    font-size: 110%;
                }
            }
        }
        @media (max-width: 700px){
            nav.navigation{
                a{
                    font-size: 90%;
                }
            }
        }
        @media (max-width: 520px){
            nav.navigation{
                a{
                    font-size: 60%;
                }
            }
        }
    }
}
