@import './mixins.scss';

main.projectsPage{
    section.projectsSlider{
        background-color: rgba(0, 0, 0, 0.20);
        border-radius: 10px;
        @include flex-box(row, center, center);
        border-radius: 10px;
        height: 100px;
        width: 100%;
        margin-bottom: 15px;
        svg{
            height: 100%;
            width: 25px;
            background-color: rgba(0, 0, 0, 0.12);
        }
        svg:first-of-type{
            border-radius: 10px 0px 0px 10px;
        }
        svg:last-of-type{
            border-radius: 0px 10px 10px 0px;
        }
        svg:hover{
            background-color: rgba(255, 255, 255, 0.011);
        }
        section.projectsList{
            text-align: center;
            height: 100%;
            width: 100%;
            overflow: hidden;
            img{
                height: 100%;
            }
            img:hover{
                filter:invert(10%);
            }
            img.currentProject{
                box-sizing: border-box;
                border: 3px solid black;
            }
        }
    }
    section.projectsDesc{
        background-color: rgba(0, 0, 0, 0.20);
        border-radius: 10px;
        @include flex-box(row, center, center);
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        h1.projectName{
            margin-top: 20px;
            margin-bottom: 25px;
            text-align: center;
            width: 100%;
            font-size: 250%;
            font-weight: 500;
        }
        section.projectLeft, section.projectRight{
            height: 100%;
            box-sizing: border-box;
        }
        section.projectLeft{
            width: 70%;
            font-size: 200%;
            padding-left: 15px;
            padding-right: 15px;
        }
        section.projectRight{
            width: 30%;
            padding-right: 3px;
            img{
                width: 100%;
            }
            section.projectTech{
                @include flex-box(row, center, center);
                flex-wrap: wrap;
                width: 100%;
                section.techBox{
                    border-radius: 5px;
                    background-color: rgba(0, 0, 0, 0.205);
                    width: 80px;
                    margin: 5px;
                    h5{
                        border-radius: 5px;
                        box-sizing: border-box;
                        text-align: center;
                        width: 100%;
                        border-bottom: 2px solid;
                        padding: 3px;
                        margin: 0px;
                    }
                }
            }
            section.gitAndDemo{
                @include flex-box(row, center, center);
                width: 100%;
                margin-top: 10px;
                a.projectLink{
                    @include flex-box(row, center, center);
                    width: 50%;
                    text-decoration: none;
                    color: white;
                    border-radius: 10px;
                    text-transform: capitalize;
                    font-size: 150%;
                    box-sizing: border-box;
                    svg{
                        padding: 3px;
                        height: 50px;
                        width: 50px;
                    }
                    h1{
                        margin: 0px;
                    }
                }
                a.githubLink{
                    background-color: rgb(240,81,51);
                    border: 3px solid darken(rgb(240,81,51), 15%);
                }
                a.githubLink:hover{
                    background-color: darken(rgb(240,81,51), 15%);
                }
                a.demoLink{
                    background-color: rgb(3, 3, 70);
                    border: 3px solid lighten(rgb(3, 3, 70), 5%);
                }
                a.demoLink:hover{
                    background-color: lighten(rgb(3, 3, 70), 5%);
                }
            }
        }
    }
}


@media screen{
    @media (max-width: 800px), (orientation: landscape) and (max-width: 1000px){
        ::-webkit-scrollbar {
            width: 0; 
            background: transparent; 
        }
        main.projectsPage{
            overflow-y: scroll;
            @include flex-box(column, flex-start, center);
            section.projectsDesc{
                @include flex-box(row, flex-start, center);
                flex-wrap: wrap;
                height: unset;
                h1.projectName{
                    margin-top: 10px;
                    margin-bottom: 15px;
                    text-align: center;
                    width: 100%;
                    font-size: 250%;
                    font-weight: 500;
                    order: 1;
                }
                section.projectLeft, section.projectRight{
                    height: unset;
                    box-sizing: border-box;
                }
                section.projectLeft{
                    width: 100%;
                    font-size: 120%;
                    padding: 0px;
                    order: 3;
                    margin: 10px;
                }
                section.projectRight{
                    width: 100%;
                    padding: 0px;
                    order: 2;
                }
            }
        }
        @media (orientation: portrait){
            main.projectsPage{
                section.projectsDesc{
                    @include flex-box(row, flex-start, center);
                    flex-wrap: wrap;
                    height: unset;
                    h1.projectName{
    
                    }
                    section.projectLeft{
                        font-size: 150%;
                    }
                    section.projectRight{
                        section.projectTech{
                            section.techBox{
                                width: 150px;
                                font-size: 130%;
                            }
                        }
                    }
                }
            }
        }
        @media (orientation: landscape){
            main.projectsPage{
                section.projectsDesc{
                    @include flex-box(row, flex-start, center);
                    flex-wrap: wrap;
                    height: unset;
                    h1.projectName{
    
                    }
                    section.projectLeft{
                        font-size: 150%;
                    }
                    section.projectRight{
                        section.projectTech{
                            section.techBox{
                                width: 125px;
                                font-size: 120%;
                            }
                        }
                    }
                }
            }
        }
    }
}
