@import './projects/project-link.scss';
@import './projects/projects-desc.scss';
@import './projects/projects-slider.scss';
@import './projects/tech-box.scss';

.projects{
    @include flex-box(column, flex-start, center);
}

// MEDIA QUERIES
@media screen{
    @media (orientation: portrait) and (max-width: 800px), (orientation: landscape) and (max-width: 1000px){
        ::-webkit-scrollbar {
            width: 0; 
            background: transparent; 
        }
        .projects{
            overflow-y: scroll;
            @include flex-box(column, flex-start, center);
        }
    }
}