@import './mixins.scss';

main.projectsPage{
    section.projectsSlider{
        @include flex-box(row, center, center);
        border-radius: 10px;
        height: 100px;
        svg{
            height: 100%;
            width: 25px;
            background-color: rgba(0, 0, 0, 0.12);
        }
        svg:first-of-type{
            border-radius: 10px 0px 0px 10px;
        }
        svg:last-of-type{
            border-radius: 0px 10px 10px 0px;
        }
        svg:hover{
            background-color: rgba(255, 255, 255, 0.011);
        }
    }
    section.projectsDesc{

    }
}