@import './skills/icon-box.scss';
@import './skills/skills-variables.scss';

.skills{
    @include flex-box(row, center, flex-start);
    flex-wrap: wrap;
    width: 60%;
    height: unset;
}

// MEDIA QUERIES
.skills{
    @media screen{
        @media (orientation: portrait){
            @media (max-width: 800px){
                width: 80%;
            }
            @media (max-width: 500px){
                width: 95%;
            }
        }
        @media (orientation: landscape){
            @media (max-width: 1100px){
                    width: 80%;
            }
            @media (max-width: 800px){
                    width: 100%;
            }
            @media (max-height: 330px){
                padding-top: 20px !important;
            }
        }
    }
}