// SKILLS
$iconSize: 100px;

// FOOTER
$footerBgColor: rgba(0, 0, 0, 0.14);
$footerHeight: 30px;
$imageHeight: ($footerHeight - 10px);

// NAVIGATION
$navBgColor: rgba(0, 0, 0, 0.14);
$navHoverBgColor: rgba(0, 0, 0, 0.20);
$navActiveBgColor: rgba(0, 0, 0, 0.75);
$navActiveHoverBgColor: rgba(0, 0, 0, 0.65);
$mobileNavHeight: 50px;

// PROJECTS
$sliderHeight: 100px;
$labelHeight: 30px;
$labelBgColor: rgba(0, 0, 0, 0.5);