.description{
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    @include flex-box(row, center, center);
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    &__name{
        margin-top: 20px;
        margin-bottom: 25px;
        text-align: center;
        width: 100%;
        font-size: 250%;
        font-weight: 500;
    }
    &__section{
        height: 100%;
        box-sizing: border-box;
    }
    &__section--left{
        width: 70%;
        font-size: 200%;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__section--right{
        width: 30%;
        padding-right: 3px;   
    }
    &__image{
        width: 100%;
    }
    &__tech{
        @include flex-box(row, center, center);
        flex-wrap: wrap;
        width: 100%;
    }
    &__links{
        @include flex-box(row, center, center);
        width: 100%;
        margin-top: 10px;
    }
}

// MEDIA QUERIES
.description{
    @media screen {
        @media (orientation: portrait) and (max-width: 800px), (orientation: landscape) and (max-width: 1000px){
            @include flex-box(row, flex-start, center);
            flex-wrap: wrap;
            height: unset;
            &__name{
                margin-top: 10px;
                margin-bottom: 15px;
                text-align: center;
                width: 100%;
                font-size: 250%;
                font-weight: 500;
                order: 1;
            }
            &__section{
                height: unset;
                box-sizing: border-box;
            }
            &__section--left{
                width: 100%;
                font-size: 120%;
                padding: 0px;
                order: 3;
                margin: 10px;
            }
            &__section--right{
                width: 100%;
                padding: 0px;
                order: 2;
            }
        }
        @media (orientation: portrait){
            @include flex-box(row, flex-start, center);
            flex-wrap: wrap;
            height: unset;
            &__section--left{
                font-size: 150%;
            }
        }
        @media (orientation: landscape){
            @include flex-box(row, flex-start, center);
            flex-wrap: wrap;
            height: unset;
            &__section--left{
                font-size: 150%;
            }
        }
    }
}
