@import './styles/base.scss';
@import './styles/nav.scss';
@import './styles/footer.scss';
@import './styles/home.scss';
@import './styles/skills.scss';
@import './styles/projects.scss';
@import './styles/contact.scss';