@import './styles/vanta-canvas.scss';
@import './styles/main.scss';
@import './styles/nav.scss';
@import './styles/footer.scss';
@import './styles/home.scss';
@import './styles/skills.scss';
@import './styles/projects.scss';
@import './styles/contact.scss';
@import './styles/mixins.scss';

html, body{
  overflow-x: hidden;
  overflow-y: hidden;
}

body{
  font-weight: 100 !important;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  #root{
    height: 100vh;
    width: 100vw;
  }
}

#root{
  @include flex-box(column, center, center);
}